.buttons
{
    color: white;
    background: cornflowerblue;
    padding: 10px 40px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

body{
    background-image: url("../../public/Images/coffee.jpg") !important;
    padding: 10px 40px !important;
}

.ind-container {
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-radius: 10px !important;
    padding: 40px !important;
}

img {
    max-width: 10vh !important;
    height: 10vh !important;
    object-fit: cover !important;
    border-radius: 10px !important;
}